.cart-area {
  margin: 10px;
}
.cart {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  text-align: center;
}

.btn-green {
  background-color: green;
  color: #fff;
}
.btn i {
  margin-right: 5px;
}
.added-name {
  background-color: #fff;
  margin-top: 15px;
  border-radius: 10px;
}
.added-name ol {
  padding: 30px 20px;
  margin-left: 40px;
}
