.btn {
  border: none;
  cursor: pointer;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
}
.btn.btn-dark {
  background-color: #0e5488;
  color: #fff;
}
.btn i {
  margin-right: 5px;
}
.btn-green {
  background-color: green;
  color: #fff;
}
