.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
  margin-top: 80px;
}
.hero-section img {
  width: 550px;
}
.hero-content {
  padding-right: 40px;
}
.hero-content h1 {
  font-size: 40px;
}
.hero-content p {
  font-size: 18px;
  margin: 20px 0;
}
.hero-content span {
  color: tomato;
  font-size: 32px;
}
