@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f7f7;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5em;
  font-size: 1.3em;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
  display: inline;
}
main {
  margin-top: 100px;
}
